#HTML_1 {
    height: 949px;
    width: 1365px;
    perspective-origin: 682.5px 474.5px;
    transform-origin: 682.5px 474.5px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#HTML_1*/

#HEAD_2 {
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#HEAD_2*/

#BODY_3 {
    height: 925px;
    width: 1349px;
    perspective-origin: 674.5px 462.5px;
    transform-origin: 674.5px 462.5px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#BODY_3*/

#P_4 {
    height: 36px;
    width: 1349px;
    perspective-origin: 674.5px 18px;
    transform-origin: 674.5px 18px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_4*/

#STRONG_5 {
    font: normal normal 700 normal 16px / normal "Times New Roman";
}/*#STRONG_5*/

#IMG_6 {
    display: block;
    height: 18px;
    width: 1349px;
    perspective-origin: 674.5px 9px;
    transform-origin: 674.5px 9px;
    font: normal normal 700 normal 16px / normal "Times New Roman";
}/*#IMG_6*/

#P_7 {
    height: 32px;
    width: 1349px;
    perspective-origin: 674.5px 16px;
    transform-origin: 674.5px 16px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_7*/

#SPAN_8 {
    font: normal normal 400 normal 13.3333px / normal "Times New Roman";
}/*#SPAN_8*/

#STRONG_9, #A_10 {
    font: normal normal 700 normal 13.3333px / normal "Times New Roman";
}/*#STRONG_9, #A_10*/

#TABLE_11 {
    height: 196px;
    width: 1347px;
    perspective-origin: 674.5px 99px;
    transform-origin: 674.5px 99px;
    border: 1px outset rgb(21, 74, 225);
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#TABLE_11*/

#TBODY_12 {
    height: 196px;
    width: 1347px;
    perspective-origin: 673.5px 98px;
    transform-origin: 673.5px 98px;
    border: 0px none rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#TBODY_12*/

#TR_13 {
    height: 70px;
    vertical-align: middle;
    width: 1347px;
    perspective-origin: 673.5px 35px;
    transform-origin: 673.5px 35px;
    background: rgb(21, 74, 225) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#TR_13*/

#TD_14 {
    height: 65.9063px;
    text-align: center;
    vertical-align: middle;
    width: 358px;
    perspective-origin: 181px 34.9531px;
    transform-origin: 181px 34.9531px;
    border: 1px inset rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_14*/

#H2_15 {
    height: 27px;
    text-align: center;
    width: 358px;
    perspective-origin: 179px 13.5px;
    transform-origin: 179px 13.5px;
    border-spacing: 2px 2px;
    font: normal normal 700 normal 24px / normal "Times New Roman";
    margin: 19.92px 0px;
}/*#H2_15*/

#SPAN_16, #SPAN_19, #SPAN_22, #SPAN_25 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 24px / normal "Times New Roman";
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_16, #SPAN_19, #SPAN_22, #SPAN_25*/

#TD_17 {
    height: 65.9063px;
    text-align: center;
    vertical-align: middle;
    width: 354px;
    perspective-origin: 179px 34.9531px;
    transform-origin: 179px 34.9531px;
    border: 1px inset rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_17*/

#H2_18 {
    height: 27px;
    text-align: center;
    width: 354px;
    perspective-origin: 177px 13.5px;
    transform-origin: 177px 13.5px;
    border-spacing: 2px 2px;
    font: normal normal 700 normal 24px / normal "Times New Roman";
    margin: 19.92px 0px;
}/*#H2_18*/

#TD_20 {
    height: 65.9063px;
    text-align: center;
    vertical-align: middle;
    width: 310px;
    perspective-origin: 157px 34.9531px;
    transform-origin: 157px 34.9531px;
    border: 1px inset rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_20*/

#H2_21 {
    height: 27px;
    text-align: center;
    width: 310px;
    perspective-origin: 155px 13.5px;
    transform-origin: 155px 13.5px;
    border-spacing: 2px 2px;
    font: normal normal 700 normal 24px / normal "Times New Roman";
    margin: 19.92px 0px;
}/*#H2_21*/

#TD_23 {
    height: 65.9063px;
    text-align: center;
    vertical-align: middle;
    width: 299px;
    perspective-origin: 151.5px 34.9531px;
    transform-origin: 151.5px 34.9531px;
    border: 1px inset rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_23*/

#H2_24 {
    height: 27px;
    text-align: center;
    width: 299px;
    perspective-origin: 149.5px 13.5px;
    transform-origin: 149.5px 13.5px;
    border-spacing: 2px 2px;
    font: normal normal 700 normal 24px / normal "Times New Roman";
    margin: 19.92px 0px;
}/*#H2_24*/

#TR_26 {
    height: 120px;
    vertical-align: middle;
    width: 1347px;
    perspective-origin: 673.5px 60px;
    transform-origin: 673.5px 60px;
    border: 0px none rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#TR_26*/

#TD_27 {
    height: 116px;
    text-align: center;
    vertical-align: middle;
    width: 358px;
    perspective-origin: 181px 60px;
    transform-origin: 181px 60px;
    border: 1px inset rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_27*/

#P_28 {
    height: 32px;
    text-align: center;
    width: 358px;
    perspective-origin: 179px 16px;
    transform-origin: 179px 16px;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_28*/

#SPAN_29, #BR_30, #SPAN_32, #SPAN_39, #SPAN_41, #SPAN_43, #SPAN_48, #SPAN_51, #SPAN_56, #A_58, #SPAN_60 {
    text-align: center;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 13.3333px / normal "Times New Roman";
}/*#SPAN_29, #BR_30, #SPAN_32, #SPAN_39, #SPAN_41, #SPAN_43, #SPAN_48, #SPAN_51, #SPAN_56, #A_58, #SPAN_60*/

#P_31 {
    height: 16px;
    text-align: center;
    width: 358px;
    perspective-origin: 179px 8px;
    transform-origin: 179px 8px;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_31*/

#STRONG_33, #A_34, #STRONG_52, #STRONG_61 {
    text-align: center;
    border-spacing: 2px 2px;
    font: normal normal 700 normal 13.3333px / normal "Times New Roman";
}/*#STRONG_33, #A_34, #STRONG_52, #STRONG_61*/

#A_35, #A_71, #A_74, #A_76, #A_79, #A_81 {
    text-align: center;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#A_35, #A_71, #A_74, #A_76, #A_79, #A_81*/

#BR_36 {
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 238);
    column-rule-color: rgb(0, 0, 238);
    caret-color: rgb(0, 0, 238);
    border: 0px none rgb(0, 0, 238);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    outline: rgb(0, 0, 238) none 0px;
}/*#BR_36*/

#TD_37 {
    height: 116px;
    text-align: center;
    vertical-align: middle;
    width: 354px;
    perspective-origin: 179px 60px;
    transform-origin: 179px 60px;
    border: 1px inset rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_37*/

#P_38, #P_42 {
    height: 16px;
    text-align: center;
    width: 354px;
    perspective-origin: 177px 8px;
    transform-origin: 177px 8px;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_38, #P_42*/

#BR_40, #A_44, #A_49, #SPAN_57 {
    text-align: center;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 13.3333px / normal "Times New Roman";
}/*#BR_40, #A_44, #A_49, #SPAN_57*/

#STRONG_45 {
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 238);
    column-rule-color: rgb(0, 0, 238);
    caret-color: rgb(0, 0, 238);
    border: 0px none rgb(0, 0, 238);
    border-spacing: 2px 2px;
    font: normal normal 700 normal 13.3333px / normal "Times New Roman";
    outline: rgb(0, 0, 238) none 0px;
}/*#STRONG_45*/

#TD_46 {
    height: 116px;
    text-align: center;
    vertical-align: middle;
    width: 310px;
    perspective-origin: 157px 60px;
    transform-origin: 157px 60px;
    border: 1px inset rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_46*/

#P_47, #P_50 {
    height: 16px;
    text-align: center;
    width: 310px;
    perspective-origin: 155px 8px;
    transform-origin: 155px 8px;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_47, #P_50*/

#A_53, #A_62 {
    text-align: center;
    border-spacing: 2px 2px;
    font: normal normal 700 normal 13.3333px / normal "Times New Roman";
}/*#A_53, #A_62*/

#TD_54 {
    height: 116px;
    text-align: center;
    vertical-align: middle;
    width: 299px;
    perspective-origin: 151.5px 60px;
    transform-origin: 151.5px 60px;
    border: 1px inset rgb(21, 74, 225);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_54*/

#P_55, #P_59 {
    height: 16px;
    text-align: center;
    width: 299px;
    perspective-origin: 149.5px 8px;
    transform-origin: 149.5px 8px;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_55, #P_59*/

#P_63 {
    height: 48px;
    text-align: center;
    width: 1349px;
    perspective-origin: 674.5px 24px;
    transform-origin: 674.5px 24px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_63*/

#SPAN_64, #BR_65, #SPAN_83, #SPAN_85 {
    text-align: center;
    font: normal normal 400 normal 13.3333px / normal "Times New Roman";
}/*#SPAN_64, #BR_65, #SPAN_83, #SPAN_85*/

#STRONG_66 {
    text-align: center;
    font: normal normal 700 normal 13.3333px / normal "Times New Roman";
}/*#STRONG_66*/

#TABLE_67 {
    height: 58px;
    width: 1349px;
    perspective-origin: 674.5px 29px;
    transform-origin: 674.5px 29px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#TABLE_67*/

#TBODY_68 {
    height: 58px;
    width: 1349px;
    perspective-origin: 674.5px 29px;
    transform-origin: 674.5px 29px;
    border: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#TBODY_68*/

#TR_69 {
    height: 54px;
    vertical-align: middle;
    width: 1349px;
    perspective-origin: 674.5px 27px;
    transform-origin: 674.5px 27px;
    border: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
}/*#TR_69*/

#TD_70 {
    height: 52px;
    text-align: center;
    vertical-align: middle;
    width: 495px;
    perspective-origin: 248.5px 27px;
    transform-origin: 248.5px 27px;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_70*/

#TD_72 {
    height: 52px;
    text-align: center;
    vertical-align: middle;
    width: 488px;
    perspective-origin: 245px 27px;
    transform-origin: 245px 27px;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_72*/

#P_73, #P_75 {
    height: 18px;
    text-align: center;
    width: 488px;
    perspective-origin: 244px 9px;
    transform-origin: 244px 9px;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_73, #P_75*/

#TD_77 {
    height: 52px;
    text-align: center;
    vertical-align: middle;
    width: 352px;
    perspective-origin: 177px 27px;
    transform-origin: 177px 27px;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    padding: 1px;
}/*#TD_77*/

#P_78, #P_80 {
    height: 18px;
    text-align: center;
    width: 352px;
    perspective-origin: 176px 9px;
    transform-origin: 176px 9px;
    border-spacing: 2px 2px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_78, #P_80*/

#P_82 {
    height: 16px;
    text-align: center;
    width: 1349px;
    perspective-origin: 674.5px 8px;
    transform-origin: 674.5px 8px;
    font: normal normal 400 normal 16px / normal "Times New Roman";
    margin: 16px 0px;
}/*#P_82*/

#SPAN_84 {
    text-align: center;
    font: normal normal 400 normal 13.3333px / normal "Times New Roman";
}/*#SPAN_84*/

